extends ../layouts/application.pug


block content
  table.table.caption-top.table-hover
    caption
    .text-dark.fs-4.fw-bold= t('layouts.application.users')
      thead
        tr
          th= t('views.users.id')
          th= t('views.users.fullName')
          th= t('views.users.email')
          th= t('views.users.createdAt')
          if isAuthenticated()
            th= t('views.users.options')
      tbody
        each user in users
          tr
            td= user.id
            td= user.name
            td= user.email
            td= formatDate(user.createdAt)
            if isAuthenticated()
              td
                .d-inline-flex
                  a(href=route('users#edit', { id: user.id })).btn.btn-primary.bg-gradient.me-1= t('views.users.update.submit')
                  +formFor()(action=route(`users#destroy`, { id: user.id }) method='post')
                    input(name='_method', type='hidden', value='delete')
                    input.btn.btn-danger.bg-gradient(type='submit', value= t('views.users.delete.submit'))