extends ../layouts/application.pug

block content
  table.table.caption-top.table-hover
    caption
    .text-dark.fs-4.fw-bold= t('layouts.application.users')

      thead

          tr
          th= t('views.users.id')
          th= t('views.users.fullName')
          th= t('views.users.email')
          th= t('views.users.createdAt')
          if isAuthenticated()
            th= t('views.users.options')
      tbody
        each user in users
          tr
            td= user.id
            td=user.fullName
            td= user.email
            td= formatDate(user.createdAt)
            if isAuthenticated()
            if isAuthenticated()
              td
                .d-flex
                  a(href=route('users#edit', { id: user.id })).btn.btn-primary.me-1= t('views.users.new.submit')