extends ../layouts/application.pug


block content
  table.table.caption-top.table-hover
    caption
    .text-dark.fs-4.fw-bold= t('layouts.application.labels')
      a(href=route('labels#new')).btn.btn-primary.bg-gradient.mx-2= t('views.labels.new.create')
      thead
        tr
          th= t('views.labels.id')
          th= t('views.labels.name')
          th= t('views.labels.createdAt')
          if isAuthenticated()
            th= t('views.labels.options')
      tbody
        each label in labels
          tr
            td= label.id
            td= label.name
            td= formatDate(label.createdAt)
            if isAuthenticated()
              td
                .d-inline-flex
                  a(href=route('labels#edit', { id: label.id })).btn.btn-primary.bg-gradient.me-1= t('views.labels.update.submit')
                  +formFor()(action=route(`labels#destroy`, { id: label.id }) method='post')
                    input(name='_method', type='hidden', value='delete')
                    input.btn.btn-danger.bg-gradient(type='submit', value= t('views.labels.delete.submit'))