include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title Task Manager
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body.d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.bg-gradient.mb-3
      .container
        a.navbar-brand(href=route('root#index'))= t('appName')
        button.navbar-toggler(data-bs-toggle='collapse' data-bs-target="#navbarToggleExternalContent")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarToggleExternalContent")
          ul.navbar-nav.justify-content-end.w-100
            li.nav-item.me-auto
              a.nav-link(href=route('users#index'))= t('layouts.application.users')
          ul.navbar-nav
            if isAuthenticated()
              li.nav-item
                a.nav-link(href=route('statuses#index'))= t('layouts.application.statuses')
              li.nav-item
                a.nav-link(href=route('labels#index'))= t('layouts.application.labels')
              li.nav-item
                a.nav-link(href=route('tasks#index'))= t('layouts.application.tasks')
              li.nav-item
                +buttonTo(route('session#destroy'), 'delete')(class="btn nav-link" value=t('layouts.application.signOut'))
            else
              li.nav-item
                a.nav-link(href=route('session#index'))= t('layouts.application.signIn')
              li.nav-item
                a.nav-link(href=route('users#new'))= t('layouts.application.signUp')
    .container.wrapper.flex-grow-1

      each messages, type in reply.flash() || []
        each message in messages
          div.alert(class=`alert-${getAlertClass(type)}`)= message

      h1.my-4
        block header
      block content

// Footer
.container
      footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-3(style='background-color: rgba(0, 0, 0, 0.05);').border-top
        // Section: Social media
        .col-md-4.d-flex.align-items-center
          a.mb-3.me-2.mb-md-0.text-decoration-none.lh-1(href='https://ru.hexlet.io/')
            i.bi-github.fs-2.me-2(role="img" aria-label="GitHub")
          span.text-muted &copy; 2022 Hexlet Ltd.
        ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
          li.ms-3
            a.text-muted(href='https://t.me/nataly_kt')
              i.bi.bi-telegram(style='font-size: 1.5rem', role='img')
          li.ms-3
            a.text-muted(href='https://www.linkedin.com/in/natalia-tyshchenko-b9287187/')
              i.bi-linkedin(style='font-size: 1.5rem', role='img')
          li.ms-3
            a.text-muted(href='https://github.com/NatalyKT')
              i.bi-github(style='font-size: 1.5rem', role='img')